@tailwind base;
@tailwind components;
@tailwind utilities;

.auth {
  @apply fixed top-0 left-0 w-full h-full flex flex-col items-center justify-center bg-secondary-200 overflow-hidden;
}

.root {
  @apply flex min-h-screen w-full flex-row bg-white-300 sm:flex-col flex-col font-plex-sans text-third-300;
}

.root-container {
  @apply flex flex-1 flex-row lg:mt-0 lg:max-h-screen;
}

html, body {
  @apply min-h-screen;
}

@layer utilities {

  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white-100/80;
  }
 /* clothing grid */
 .card_grid {
  @apply grid md:grid-cols-3 sm:grid-cols-2 gap-5;
  }

.card_grid-sm {
  @apply grid sm:grid-cols-2 gap-5;
  }

.hover-grow-color {
 @apply transition-all duration-200 ease-in-out;
  }

.hover-grow-color:hover {
  @apply text-primary-200 scale-110;
  }
.search-form {
  @apply max-w-[200px] w-full min-h-[30px] bg-white-200 border-[2.5px] border-black rounded-[80px] text-[20px] px-2 flex flex-row items-center gap-2;
  }

.search-input {
  @apply flex-1 font-plex-sans font-regular placeholder:opacity-50 placeholder:font-extralight rounded-[80px] placeholder:text-third-400 w-full h-auto outline-none bg-white-200 overflow-hidden;
  }

.search-popup-container {
  @apply fixed top-0 left-0 h-[30vh] w-full bg-white-100 py-3 px-3 shadow-md shadow-third-300 text-third-300;
  }

  .search-form-popup {
  @apply max-w-[4xl] min-w-[500px] w-full min-h-[25px] bg-white-200 border-[2.5px] border-black rounded-[80px] text-[32px] px-3 py-2 flex flex-row items-center gap-2;
  }

  .search-input-popup {
  @apply flex-1 font-plex-sans font-regular placeholder:opacity-50 placeholder:font-extralight placeholder:text-third-400 w-[90%] h-auto outline-none bg-white-200;
  }

.side-bar {
  @apply flex flex-col w-[150px] h-full h-screen shadow-md shadow-third-300 font-plex-sans font-medium overflow-y-auto;
  }

.side-bar-container {
  @apply flex flex-col flex-1 items-center gap-5 w-full;
  }

.side-bar-option-container {
  @apply flex flex-col w-full gap-2 px-4;
  }

  .side-bar-options {
  @apply flex flex-row items-center gap-x-2;
  }

  .mobilebar-root {
  @apply flex sm:hidden 
  }

  .home {
  @apply relative flex-1 w-full gap-4;
  }

  .product-container {
  @apply flex flex-col p-5;
  }

  .product-grid {
  @apply grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-5 mt-10;
  }

  .product-group {
  @apply bg-white-100 border-[2px] border-primary-200 shadow-100 transition-transform duration-300 ease-in-out;
  }

  .product-group:hover {
  @apply scale-105;
  }

  .product-group-info {
  @apply flex flex-col py-2 gap-0.5 px-2;
  }

  .cart-background {
    @apply bg-primary-200 rounded-full px-6 py-2 flex items-center justify-center transition-transform duration-200 ease-in-out scale-110 hover:scale-125;
  }

  .text-white {
    color: white
  }

  .content-page {
    @apply relative flex-1 w-full gap-4;
  }

  .product-page {
    @apply flex flex-row p-5 w-full;
  }

  .product-page-image-container {
    @apply flex gap-2 ml-[15%] w-full;
  }

  .product-sizebutton-grid {
    @apply grid lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 gap-y-3 gap-x-4; 
    display: grid;
  }

  .product-buy-buttons {
    @apply font-plex-sans font-bold md:text-[20px] sm:text-[16] text-nowrap rounded-full px-2 py-3 max-w-[175px] flex items-center justify-center transition-transform duration-200 ease-in-out scale-110 hover:scale-125;
  }

  .product-drop {
    @apply flex flex-col font-plex-sans font-medium w-[75%] text-[24px] pt-5 gap-4
  }

  .product-drop-section {
    @apply flex flex-col gap-4 border-b-[2px] pb-4 border-borderColor-100 ;
  }

  .product-drop-block {
    @apply flex flex-row justify-between items-center cursor-pointer;
  }

  .product-write-section {
    @apply flex flex-col w-full gap-3
  }
  .product-write-label {
    @apply font-plex-sans font-regular text-[20px] 
  }

  .product-write-error {
    @apply text-red-500 text-[14px] ;
  }

  .sign-in-button {
    @apply font-plex-sans font-bold md:text-[20px] sm:text-[16] text-nowrap rounded-full px-2 py-3 max-w-[175px] flex items-center justify-center transition-transform duration-200 ease-in-out scale-110 hover:scale-125;
  }

  
}

@keyframes glowing-border {
  0% { box-shadow: 0 0 5px #009E49; }
  50% { box-shadow: 0 0 15px #009E49; }
  100% { box-shadow: 0 0 5px #009E49; }
}

.glow-border {
  border: 2px solid #009E49; /* Palestine green */
  animation: glowing-border 2s infinite alternate;
  border-radius: 1px; /* Smooth rounded edges */
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

